body{
	font-family: 'Roboto', Verdana, sans-serif;
 	background-color: #408450;

}

.banner {

	width: 	100%;
	height: 200px;

}

#container
{
	display: flex;	
	flex-wrap: wrap;
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width: auto;	
}
#logo{
	width: 800px;
	margin: auto;
}

/*************** carousel *************/

.teamPic {
	display: flex;
	justify-content: center;
	width: 100%;
}



#carousel{
	margin-left: 100px;
	margin-top: 20px;
	margin-right: 100px;
}

.card{
	 
	display: flex;
	flex-direction: column;
	flex-direction: wrap;
		
	min-width: 240px; 
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	
}

#my_footer{
	width:100%;
	text-align: center;
}
#copyright{
	margin-top:10px;
	margin-bottom:10px;

}

/*************************
Navigation

**************************/

nav{
	font-family: roboto;
	background-color: #0a0a0a;
	
	width: 100%;
}	
	
nav ul li:hover {
	background-color:#fdcf10;
	transition: all .2s ease;
	height: auto;
	border-radius: 10px;	
	padding: 5px;
	margin: 10px;

}

#navBar{
	display: flex;/*assigns as a flex container*/
	justify-content:space-between;
	flex-flow: row;/*direction of flex*/
	align-items:baseline;
	list-style-type: none; /*Remove Bullets*/
	
	height: 100px;	
}

li{
	flex:1;/*sets equal width to flex items*/
	height: 10px;
	font-family: Dosis;
	padding:20px 20px 20px 20px;
	text-align: center;
	font-size: 1em;
	color: white;
}



#logoNav{
	flex:6;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

.underline{
  text-decoration:underline;
}

.border{
  border: solid 5px #ccc;
}

#navText {
	text-decoration: none;
 	color: white;
 	font-size: 1.5em;
}

#newsLetter {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 500px;
	flex: left;
}

.useerInput {
	padding-left: 100px;
	flex-flow: row
}	

/* for mobile and tablets sccens */
@media screen and (max-width: 700px){

	nav{
		flex-flow: column;
		height: 450px;
	}
	
	ul{
		flex-flow: column;
		align-items:center;

	}
	li{
		font-size: 2em;
	}	 
}	

/*pass thought jigsaw.w3.org/css-validator/*/




	



