body{
	font-family: 'Roboto', Verdana, sans-serif;
 	background-color: #408450;

}

.banner {


	width: 	100%;
	height: 200px;

}

#container
{
		
	box-sizing:border-box;
	margin-right:auto;
	margin-left:auto;
	max-width:1050px;	
}
#logo{
	width: 800px;
	margin: auto;
}







/*--------  players profile cards----------  */

h2 {
	font-size: 20px;
	font-weight: bold;
}



.playersName {
	margin-left: 15px;
	font-size: 30Px
}


.playersPic{
	width: 20%;
	height: 20%;
	border-radius: 10px;
	margin: 15px;


}


.profile li{
	color: black;
	font-size: 15px;
	display: flex;
	flex-direction:column;
	 		
}

.card{	
	min-width: 240px; 
	margin: 10px;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
}

.info{
	flex:1; /* equal width to cards applied*/
	display: flex;	

}

.container{
	width: 100%;
	padding: 30px;
}






/*---------------------------------*/


.bottom_button{
	display: flex;/*creates flex item*/
	justify-content: center;
	box-sizing:border-box;
	border-radius: 4px;
	display: block;
	width: 100%;	
	height: 50px;
	background-color:#fff056;
	text-align: center;
	padding: 1em;
	text-decoration: none;
	color:  #fdcf10;


}




/*************************
Navigation

**************************/

nav{
	font-family: roboto;
	background-color: #0a0a0a;
	
	width: 100%;
}	
	
nav ul li:hover {
	background-color:#fdcf10;
	transition: all .2s ease;
	height: auto;
	border-radius: 10px;	
	padding: 5px;
	margin: 10px;

}

ul{
	display: flex;/*assigns as a flex container*/
	justify-content:space-between;
	flex-flow: row;/*direction of flex*/
	align-items:baseline;
	list-style-type: none; /*Remove Bullets*/
	padding-bottom:0px;
	height: 80px;	
}

#navBar{
	display: flex;/*assigns as a flex container*/
	justify-content:space-between;
	flex-flow: row;/*direction of flex*/
	align-items:baseline;
	list-style-type: none; /*Remove Bullets*/	
	height: 100px;	
}

li{
	flex:1;/*sets equal width to flex items*/
	height: 10px;
	font-family: Dosis;
	padding:20px 20px 20px 20px;
	text-align: center;
	font-size: 1em;
	color: white;
}

#logoNav{
	flex:6;
	text-align: left;
	font-size: 2em;
	font-weight: bold;
}

.underline{
  text-decoration:underline;
}

.border{
  border: solid 5px #ccc;
}

.navText {
	text-decoration: none;
 	color: white;
 	font-size: 1.5em;
}

#newsLetter {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	width: 500px;
	flex: left;
}

.useerInput {
	padding-left: 100px;
	flex-flow: row
}	

/***********************
	find player
***********************/

#myInput {
  background-image: url('/css/searchicon.png');		
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  position: left;

}





/*for desktop layout*/
@media screen and (max-width: 700px){

	nav {
		height: 500px;
	}


	
	li{
		font-size: 2em;
	}

	#navBar {
	flex-flow: column;
	align-items: center;
	padding: 10px;
	
	} 

	.navText {
 	font-size: 1em;

	}
	

	.card {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.info {
		display: flex;
		flex-flow: column;
		align-items: center;

	}

	.profile{
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 200px;
	}

	.playersPic{
		width: 50%;
		border-radius: 10px;
		margin: 15px;

	}

	}
}


